extends layout

block content
    div(class='container')
        h1 Lab1:
        ul
            li
                a(href='./lab1q5') Q5 First 3 fields (extension of eg1)
            li
                a(href='./lab1q6') Q6 Word Count (extension of eg2)
            li
                a(href='./lab1q7') Q7 Load new table
            li
                a(href='./lab1q8') Q8 Python Script using CloudFoundry multi-buildpacks
            li
                a(href='./lab1q9') Q9 SQL Count of Students in Grade 9 Studying History
