extends layout

block content
    div(class='container')
        h1 Lab1:
        ul
            li
                a(href='./q5') Q5 (extension of eg1)
            li
                a(href='./q6') Q6 (extension of eg2)
