extends layout

block content
    div(class='container')
        h1 Lab1:
        ul
            li
                a(href='./q5') Q5 First 3 fields (extension of eg1)
            li
                a(href='./q6') Q6 Word Count (extension of eg2)
            li
                a(href='./q7') Q7 Load new table
