doctype html
html(lang='en' class='h-100')
  head
    title= 'Ang Zhan Yu (A0156084A) CS5224 Solutions for IBM CloudFoundry'
    link(rel='stylesheet' href='/stylesheets/style.css')
    link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css' integrity='sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh' crossorigin='anonymous')
  body(class='d-flex flex-column h-100')
    header
      nav(class='navbar bg-dark')
        a(class='navbar-brand' href='./') Ang Zhan Yu (A0156084A) CS5224 Solutions
    main(role='main' class='flex-shrink-0')
      block content
    footer(class='footer mt-auto py-3')
      div(class='container')
        span(class='text-muted')
          a(href='https://github.com/ZY-Ang/cs5224/tree/master/ibmcloudfoundryapp' rel='noopener noreferrer' target='_blank') Source Code
